.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iDInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 5px;
}

.name {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.number {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.address {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.lName {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.funFact {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.iDCard {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 300px;
    margin-top: 120px;
    border: 10px solid #ccc;
    border-radius: 30px;
    resize: vertical;
    font-family: "Roboto", sans-serif;
}


#display-image {
    width: 180px;
    height: 180px;
    border: 1px solid rgba(190, 167, 167, 0.5);
    margin-bottom: auto;
    margin-top: 30px;
    margin-left: 10px;
    /* margin-right: auto; */
    background-size: cover;
}

.submittedText{
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    text-transform: uppercase;
    margin-left: 10px;
}

.idName {
   padding-top: 5px;

}

.idLName {
    padding-top: 5px;

}

.idNumber {
    font-size: 25px;
    color: rgba(73, 67, 67, 0.633)

}

.idAddress {
    padding-top: 5px;
}

.idFunFact {
    padding-top: 5px;
    text-transform: none;
} 