html {
    background: white
  }

  body {margin-bottom:300px;}
  .lefthead {
    left: 0;
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
  }
 

  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  li a:hover{
    text-decoration: underline;
  }

  .logo{
    position: absolute;
    top: 20%;
    left: 40%;
  }

  .searchbar{
    position:absolute;
    top: 40%;
    left: 45%;
  }